.question {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.answer_choice {
    padding-bottom: 5%;
    padding-top: 5%;
    vertical-align: middle;
    text-align: center;
    border-radius:50%;
}

.answer_choice:hover
{            
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.20), 0 15px 45px 0 rgba(0,0,0,0.19);
}

.row {
    margin-left: 5%;
    margin-right: 5%;
}

.timer {
    text-align:center;
}

h1:hover {
    font-size: 300%;
}
